* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: black;
    background-image: url('https://images.vexels.com/media/users/3/73676/raw/b092cb8bced3911e60f25a59326c2302-fundo-de-corrida-criativo-com-cronometro.jpg');
    background-position: top right 1px;
    background-size: 90%;
}

.max-width {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    font-family: 'Segoe UI';
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}